KERNEL=="sd[a-z][0-9]", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="usbstick-handler@%k"
KERNEL=="sd[a-z][0-9]", ACTION=="remove", TAG+="systemd", ENV{SYSTEMD_WANTS}="usbstick-handler@%k"

