[Unit]
Description=Mount USB Drive on %i
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-mount add %I
ExecStop=/usr/local/bin/usb-mount remove %I

